<h1>StaticPages#connect</h1>

<p>Find me in app/views/static_pages/connect.html.erb</p>

<form action="https://jawbone.com/auth/oauth2/token" method="post">
  First name: <input type="text" name="response_type=code" value="code"><br>
  Last name: <input type="text" name="client_id" value="zsoPnAO4XOU"><br>
  <input type="text" name="scope" value="basic_read">
  <input type="text" name="redirect_uri" value="http://arcane-harbor-2607.herokuapp.com/access">
  <input type="submit" value="Submit">
</form>

